<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html :: navbar}"></div>

<div class="detail">
    <h4>상세페이지</h4>
    <img th:if="${data.imgURL}" th:src="${data.imgURL}" alt="상품 이미지" width="300">
    <h4 th:text="${data.title}">금도금 바지</h4>
    <p th:text="${data.price + '원'}">7억</p>
</div>

</body>
</html>